body{
    margin: 0;
    padding: 0;
}

#listingsContainer{
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

#createListingContainer{
    border: 1px solid black;
}
#listingForm{
    display: none;
    margin: 20px;
}

.listing{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

#navBar{
    border: 1px solid black;
    padding: 20px;
}

#newListingButton{
    margin: 25px;
}

